
#eltwo {
    color: rgb(17, 17, 224);
    font-size: 36px;
}

#elfour{
    background-color: rgb(192, 243, 192);
}


.odd-num-elmnt {
        background-color: rgb(255, 190, 190);
        font-family: Verdana, 'Dejavu-sans', sans serif;
    }

.default-font-tf {
    font-size: 24px;
}

.bldtxt {
    font-weight: bold;
}