body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side-user{
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
  margin: 8px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  margin: 8px;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  list-style-type: none;
}