body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 12px;
  margin: 36px auto;
}

.title {
  padding: 12px;
  font-size: 16px;
  background: #e3f4ff;
}

.content {
  padding: 12px;
  margin: auto;
  background: #e3f4ff;
}

.button-container {
  text-align: center;
  margin: 12px auto;
  padding: 8px;
  background: #e3f4ff;
}

button {
  display: block;
  margin: 1px auto ;
  padding: 8px 24px;
  background: white;
  border: 1px solid #eee;
}