div p {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

/* Either CSS above or below will work for this. Both used as indication of understanding. */

/* .container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
} */